<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="static/css/szivacs.css">
	<title>SZIVACS Szivattyúvezérlés</title>

</head>
<body>
	<div class="container-fluid" id="Statuslights">
		<div class="row">
			<div class="col-sm statuslight-text">
				Szivattyú
			</div>
			<div class="col-sm statuslight-text">
				Vésszint
			</div>
			<div class="col-sm statuslight-text">
				Szint
			</div>
			<div class="col-sm statuslight-text">
				Relé
			</div>
		</div>
		<div class="row">
			<div class="col-sm statuslight-output">
				Áll
			</div>
			<div class="col-sm statuslight-output">
				Nem jelez
			</div>
			<div class="col-sm statuslight-output">
				Nem jelez
			</div>
			<div class="col-sm statuslight-output">
				Kikapcsolva
			</div>
		</div>
		<div class="row">
			<div class="col-sm statuslight-text">
				Rendszer állapota
			</div>
		</div>
		<div class="row">
			<div class="col-sm statuslight-state">
				Áll
			</div>
		</div>
	</div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>